---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import NewLinkButton from '../components/NewLinkButton.astro';

import contactImage from '../images/contact-by-phone.jpg';

import mapIcon from '../images/pin-map.svg';
import mailboxIcon from '../images/mailbox.svg';
import phoneIcon from '../images/phone.svg';
import telephoneIcon from '../images/telephone.svg';
---

<Layout
  title="聯絡我們"
  pageDescription="歡迎您依照需求填寫資訊並聯繫我們，巧植將竭誠提供您最合適的服務"
>
  <Banner bannerTitle="聯絡我們">
    <Image
      id="banner-image"
      class="banner-image"
      src={contactImage}
      alt="聯絡我們橫幅圖片"
      loading="eager"
    />
  </Banner>

  <div class="container py-3">
    <div class="row gx-2 gy-4 info__section">
      <div class="col-md-4">
        <section class="send__section">
          <h2 class="h3 fw-bold text-center mb-0 p-3">諮詢服務和取得報價</h2>
          <div class="send__section-links">
            <NewLinkButton link="mailto:joysplanting@gmail.com" buttonText="現在聯絡" />
          </div>
        </section>
      </div>
      <div class="col-md-4">
        <section class="contact__section">
          <h2 class="h3 fw-bold text-center mb-0 p-3">聯絡資訊</h2>
          <ul class="contatct__section-list">
            <li>
              <Image src={mapIcon} alt="地圖icon" loading="lazy" />
              <span>(404)台中市北區健行路490號</span>
            </li>
            <li>
              <Image src={mailboxIcon} alt="電子郵件icon" loading="lazy" />
              <span>joysplanting@gmail.com</span>
            </li>
            <li>
              <Image src={phoneIcon} alt="行動電話icon" loading="lazy" />
              <span>0921-333-861</span>
            </li>
            <li>
              <Image src={telephoneIcon} alt="電話icon" loading="lazy" />
              <span>04-22056677</span>
            </li>
          </ul>
        </section>
      </div>
      <div class="col-md-4">
        <section class="map__section ratio ratio-4x3">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3642.7387363629205!2d120.67774445660372!3d24.159197497111794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693d636d1ab1c5%3A0x191d3401405dd7f7!2zNDA05Y-w54Gj5Y-w5Lit5biC5YyX5Y2A5YGl6KGM6LevNDkw6Jmf!5e0!3m2!1szh-TW!2sus!4v1724473163980!5m2!1szh-TW!2sus"
            style="border:0;"
            title="地址位置"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  .info__section {
    margin-bottom: 4rem;
  }
  .send__section,
  .contact__section {
    background-color: #ffffff;
    height: 100%;
  }
  .send__section-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // button's min-height plus margin and additional 2rem
    // min-height: calc(4rem + 2px + 2rem);
    min-height: 10rem;
    padding: 0 1rem;
  }
  .contatct__section-list {
    list-style: none;
    padding: 0.5rem 0;
    margin-bottom: 0;
    line-height: 1.5;
  }
  .contatct__section-list li {
    padding: 0.5rem 0;
    color: #198754;
    /* transition: all .3s; */
  }
  .contatct__section-list li:hover {
    /* text-shadow: 1px 1px 8px #a6a6a6; */
  }
  .contatct__section-list {
    li {
      img {
        margin-left: 0.75rem;
        display: inline-block;
      }
      span {
        margin-left: 0.75rem;
      }
    }
  }
</style>
