---
import '../styles/aos.css';
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

import Banner from '../components/Banner.astro';
import ServicesBox from '../components/ServicesBox.astro';

import serviceImage from '../images/services.jpg';

import planIcon from '../images/pencil-square.svg';
import workIcon from '../images/tools.svg';
import maintainIcon from '../images/person-gear.svg';

import contactIcon_1 from '../images/1_Contacting.png';
import measureIcon_2 from '../images/2_Measuring.png';
import designIcon_3 from '../images/3_Designing.png';
import cooperateIcon_4 from '../images/4_Cooperation.png';
import constructIcon_5 from '../images/5_Construction.png';
import completeIcon_6 from '../images/6_Completion.png';
---

<Layout
  title="服務項目"
  pageDescription="巧植提供以下各項服務：景觀規劃、工程施作、維護管理。標準的服務流程為：聯絡諮詢、現場丈量、出圖設計、報價簽約、進場施工、完工驗收"
>
  <Banner bannerTitle="服務項目">
    <Image class="banner-image" src={serviceImage} alt="服務項目橫幅圖片" loading="eager" />
  </Banner>

  <div class="container py-3">
    <section class="service-section">
      <h2 class="fw-bold text-center service-title">巧植可以為您做什麼？</h2>
      <ul class="row gx-2 gy-3 service__list">
        <li class="col-sm-4">
          <div class="service__box">
            <div class="service__box-title">
              <Image class="service__icon" src={planIcon} alt="景觀規劃icon" loading="lazy" />
              景觀規劃
            </div>
            <div class="service__box-content">各式私宅、社區、廠辦、機構景觀規劃設計</div>
          </div>
        </li>
        <li class="col-sm-4">
          <div class="service__box">
            <div class="service__box-title">
              <Image class="service__icon" src={workIcon} alt="工程施作icon" loading="lazy" />
              工程施作
            </div>
            <div class="service__box-content">
              設計施工、草木修剪移植、澆灌系統水電、景觀生態池施作、植生綠牆
            </div>
          </div>
        </li>
        <li class="col-sm-4">
          <div class="service__box">
            <div class="service__box-title">
              <Image class="service__icon" src={maintainIcon} alt="維護管理icon" loading="lazy" />
              維護管理
            </div>
            <div class="service__box-content">
              各單位庭園草木修整施肥、枯木更換、病蟲害防治，定期綠美化維護
            </div>
          </div>
        </li>
      </ul>
    </section>
    <section class="flow-section">
      <h2 class="fw-bold text-center flow-title">服務流程</h2>
      <ul class="flow__list">
        <ServicesBox
          boxTitle="Step 1 | 聯絡諮詢"
          description="可通過 LINE @joysplanting 或來電洽詢 0934333863"
          showArrow={true}
        >
          <Image class="flow__box-icon" src={contactIcon_1} alt="諮詢icon" loading="eager" />
        </ServicesBox>
        <ServicesBox
          boxTitle="Step 2 | 現場丈量"
          description="設計師實際丈量了解需求"
          showArrow={true}
        >
          <Image class="flow__box-icon" src={measureIcon_2} alt="丈量icon" loading="eager" />
        </ServicesBox>
        <ServicesBox boxTitle="Step 3 | 設計出圖" description="設計出圖" showArrow={true}>
          <Image class="flow__box-icon" src={designIcon_3} alt="設計icon" loading="eager" />
        </ServicesBox>
        <ServicesBox
          boxTitle="Step 4 | 報價簽約"
          description="設計內容協調，簽約收取施工工程款"
          showArrow={true}
        >
          <Image class="flow__box-icon" src={cooperateIcon_4} alt="報價簽約icon" loading="eager" />
        </ServicesBox>
        <ServicesBox boxTitle="Step 5 | 進場施工" description="專業施工人員進場" showArrow={true}>
          <Image class="flow__box-icon" src={constructIcon_5} alt="施工icon" loading="eager" />
        </ServicesBox>
        <ServicesBox
          boxTitle="Step 6 | 完工驗收"
          description="業主的保固權益，後續植栽照顧教學"
          showArrow={false}
        >
          <Image class="flow__box-icon" src={completeIcon_6} alt="完工驗收icon" loading="eager" />
        </ServicesBox>
      </ul>
    </section>
  </div>
</Layout>

<style>
  .service-title,
  .flow-title {
    font-size: 2rem;
  }
  .service__list,
  .flow__list {
    padding-left: 0;
    margin-top: 1rem;
    margin-bottom: 6rem;
    list-style: none;
  }
  .service__box {
    padding: 1rem;
    font-weight: 700;
    color: #4a4d4f;
    background-color: #ffffff;
    height: 100%;
    transition: all 0.3s;
  }
  .service__box:hover {
    color: #252528;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  .service__box-title {
    font-size: 1.5rem;
  }
  .service__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  .service__box-content {
    margin-top: 0.5rem;
  }
  .flow__box-icon {
    max-width: 3rem;
    max-height: 3rem;
    display: block;
    margin: 1rem auto;
  }
</style>

<script>
  import AOS from 'aos';
  //   console.log(AOS);
  AOS.init();
</script>
